{% extends 'general/index_project_view.html' %}

{% block content %}
    {% include 'includes/html_form.html' %}
{% endblock %}

{% block js %}
<script>
    {% if not form.instance.id %}
    $("#id_task").change(function () {
        var task_id = $(this).val();
        var url = "/core/task/" + task_id + "/task_info/";

        $.getJSON( url, function( task ) {
            console.log( task )
            $("#id_name").val( task.name );
            $("#id_description").val( task.name );
        });
    });
    {% endif %}
</script>
{% endblock %}
