{% extends 'general/index_project_view.html' %}

{% block content %}
<form method="get">
    {{ filter.form.as_table }}
    <button class="btn btn-outline-dark active" type="submit">Search</button>
</form>

<div class="animated fadeIn pt-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-white bg-xing">
                    <i class="fa fa-list fa-lg"></i> Deliverables
                    {% if user.is_authenticated %}
                    <a class="float-right" href="{% url 'deliverable_add' project_id=project.id %}">
                        <i class="fa fa-plus-square-o fa-lg font-2xl text-white"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered">
                        <thead>
                        <tr>
                            <th>S/L</th>
                            <th>Name</th>
                            <th>Task</th>
                            <th>Sprint</th>
                            <th>Point</th>
                            <th>Priority</th>
                            <th>Assignee</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for deli in deliverables %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ deli.name }}</td>
                                    <td>{{ deli.task.name }}</td>
                                    <td>{{ deli.sprint.name }}</td>
                                    <td>{{ deli.estimated_hour }}</td>
                                    <td>{{ deli.get_priority_display }}</td>
                                    <td>{{ deli.assignee.full_name }}</td>
                                    <td>
                                        {% if perms.core.update_deliverable_status %}
                                            <a href="{% url 'update_deliverable_status' project_id=project.id pk=deli.id %}">{{ deli.get_status_display }}</a>
                                        {% else %}
                                            {{ deli.get_status_display }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="float-right ml-1" href="{% url 'deliverable_history' project_id=project.id pk=deli.id %}">
                                        <i class="fa fa-history fa-lg"></i></a>

                                        <a class="float-right mr-1" href="{% url 'deliverable_edit' project_id=project.id pk=deli.id %}">
                                        <i class="fa fa-edit fa-lg"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if deliverables.has_other_pages %}
                        <ul class="pagination">
                            {% if deliverables.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ deliverables.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                            {% endif %}
                            {% for i in deliverables.paginator.page_range %}
                                {% if deliverables.number == i %}
                                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if deliverables.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ deliverables.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                            {% endif %}
                      </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

