{% extends 'index.html' %}

{% block content %}

<div class="animated fadeIn pt-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-white bg-xing">
                    <i class="fa fa-list fa-lg"></i> {{ project.name }}
                    {% if user.is_authenticated %}
                    <a class="float-right" href="{% url 'project_list' %}">
                        <i class="icon-arrow-left-circle icons font-2xl mt-4 text-white"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered">
                        <thead>
                        <tr>
                            <th>S/L</th>
                            <th>Commit Messages</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for message in commit_messages %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ message }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if commit_messages.has_other_pages %}
                        <ul class="pagination">
                            {% if commit_messages.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ commit_messages.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                            {% endif %}
                            {% for i in commit_messages.paginator.page_range %}
                                {% if commit_messages.number == i %}
                                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if commit_messages.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ commit_messages.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

