{% extends base_template %}

{% block content %}

<div class="animated fadeIn pt-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-white bg-xing">
                    <i class="fa fa-list fa-lg"></i> {{ title }}
                    {% if user.is_authenticated %}
                    <a class="float-right" href="{{ back_url }}">
                        <i class="icon-arrow-left-circle icons font-2xl mt-4 text-white"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered">
                        <thead>
                        <tr>
                            <th>S/L</th>
                            <th>Object</th>
                            <th>Date/Time</th>
                            <th>Comment</th>
                            <th>Changed By</th>
                            <th>Change Reason</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for history in history_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ history.instance }}</td>
                                    <td>{{ history.history_date }}</td>
                                    <td>
                                        {% if history.history_type == '+' %}
                                            Created
                                        {% elif history.history_type == '~' %}
                                            Updated
                                        {% else %}
                                            Deleted
                                        {% endif %}
                                    </td>
                                    <td>{{ history.history_user }}</td>
                                    <td>{{ history.history_change_reason|default_if_none:'' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if commit_log.has_other_pages %}
                        <ul class="pagination">
                            {% if commit_log.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ commit_log.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                            {% endif %}
                            {% for i in commit_log.paginator.page_range %}
                                {% if commit_log.number == i %}
                                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if commit_log.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ commit_log.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

