{% extends 'general/index_reports.html' %}

{% block content %}
<form method="get">
    {{ filter.form.as_table }}
    <button class="btn btn-outline-dark active" type="submit">View Report</button>
</form>

<div class="animated fadeIn pt-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-list fa-lg"></i> Project Status Report {% if project %} of {{ project.name }} {% endif %}
                    {% if user.is_authenticated %}
                        {% if project %}
                            <a class="float-right" href="{% url 'project_status_report_download' project.id %}">
                                <i class="fa fa-download fa-lg font-2xl"></i>
                            </a>
                        {% else %}
                            <a class="float-right" href="#">
                                <i class="fa fa-download fa-lg font-2xl"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-body">
                    {% for release in release_list %}
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>{{ release.name }} &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; {{ release.release_date }}</th>
                                    <th>Version: {{ release.version }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for story in release.userstory_set.all %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ story.summary }}</td>
                                        <td>{{ story.get_status_display }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

