<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card text-white bg-xing">
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <h1 style="text-align: center;">Project # {{ project.name }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn pt-2">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary mr-2">
        <div class="card-body pb-0">
          <button class="btn btn-transparent p-0 float-right" type="button">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">{{ release.count }}</div>
          <div>Releases</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:60px;"></div>
      </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info mr-2">
        <div class="card-body pb-0">
          <button class="btn btn-transparent p-0 float-right" type="button">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">{{ user_story.count }}</div>
          <div>User Story</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:60px;"></div>
      </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning mr-2">
        <div class="card-body pb-0">
          <button class="btn btn-transparent p-0 float-right" type="button">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">{{ task.count }}</div>
          <div>Tasks</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:60px;"></div>
      </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <button class="btn btn-transparent p-0 float-right" type="button">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">{{ issue.count }}</div>
          <div>Issues</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:60px;"></div>
      </div>
    </div>
    <!-- /.col-->
  </div>
</div>

<div class="animated fadeIn pt-2">
  <div class="row">

    <div class="col-lg-4">
        <div class="card">
            <div class="card-header text-white" style="background-color: #332211;">
                <i class="fa fa-list fa-lg"></i> Pending
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered">
                    <thead></thead>
                    <tbody>
                        {% for pend in data.pending %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ pend.name }} - {{ pend.estimated_hour }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-lg-4">
        <div class="card">
            <div class="card-header text-white" style="background-color: #112233;">
                <i class="fa fa-list fa-lg"></i> In-Progress
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered">
                    <thead></thead>
                    <tbody>
                        {% for inp in data.in_progress %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ inp.name }} - {{ inp.estimated_hour }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-lg-4">
        <div class="card">
            <div class="card-header text-white" style="background-color: green;">
                <i class="fa fa-list fa-lg"></i> Done
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered">
                    <thead></thead>
                    <tbody>
                        {% for done_task in data.done %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ done_task.name }} - {{ done_task.estimated_hour }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

  </div>
</div>
