{% extends 'index.html' %}

{% block side-menu %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'daily_scrum_add' %}">
                    <i class="nav-icon icons cui-note mr-3"></i> Entry Daily Scrum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'daily_scrum_list' %}">
                    <i class="nav-icon icons icon-equalizer mr-3"></i> Scrum Entries</a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>

{% endblock %}


{% block content %}



{% endblock %}
