{% extends 'base.html' %}

{% block side-menu %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reports' %}">
                    <i class="fa fa-tachometer icons mr-3"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sprint_status_report' %}">
                    <i class="nav-icon fa fa-file-pdf-o mr-3"></i> Sprint Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'project_status_report' %}">
                    <i class="nav-icon fa fa-file-pdf-o mr-3"></i> Project Status</a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
{% endblock %}

{% block content %}

    {% include 'general/dashboard_reports.html' %}

{% endblock %}
