<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card text-white bg-xing">
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <h1 style="text-align: center;">Welcome to Scrumate</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn pt-2">
    <div class="row">

        <div class="col-lg-6">
            <div class="card mr-1 mb-2">
                <div class="card-header text-white" style="background-color: darkgreen;">
                    <i class="icons cui-globe fa-lg"></i> Running Projects
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered">
                        <thead></thead>
                        <tbody>
                            {% for pro in context.running_projects %}
                                <tr>
                                    <td>{{ forloop.counter}}</td>
                                    <td>{{ pro.name }}</td>
                                    <td>{{ pro.total_point }} Points</td>
                                    <td>{{ pro.percent_completed }}%</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div style="text-align: center;">
                        <a class="btn btn-light" href="{% url 'project_list' %}">Load More</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-6">
            <div class="card ml-1 mb-2">
                <div class="card-header text-white" style="background-color: #112233;">
                    <i class="icons cui-layers fa-lg"></i> Current Sprint
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered">
                        <thead></thead>
                        <tbody>
                            {% for pd in context.pending_deliverables %}
                                <tr>
                                    <td>{{ forloop.counter}}</td>
                                    <td>{{ pd.name }}</td>
                                    <td>{{ pd.task.project.name }}</td>
                                    <td>{{ pd.get_status_display }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div style="text-align: center;">
                        <a class="btn btn-light" href="{% url 'sprint' %}">Load More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-6">
            <div class="card mr-1">
                <div class="card-header text-white" style="background-color: #332211;">
                    <i class="icons cui-lightbulb fa-lg"></i> Recent Releases
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered">
                        <thead></thead>
                        <tbody>
                            {% for release in context.recent_releases %}
                                <tr>
                                    <td>{{ forloop.counter}}</td>
                                    <td>{{ release.name }} | {{ release.release_date }}</td>
                                    <td>{{ release.project.name }}</td>
                                    <td>{{ release.version }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-lg-6">
            <div class="card ml-1">
                <div class="card-header text-white" style="background-color: #2a087a;">
                    <i class="icons cui-shield fa-lg"></i> Recent Issues
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered">
                        <thead></thead>
                        <tbody>
                            {% for pd in context.recent_issues %}
                                <tr>
                                    <td>{{ forloop.counter}}</td>
                                    <td>{{ pd.name }}</td>
                                    <td>{{ pd.project.name }}</td>
                                    <td>{{ pd.raise_date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
