<form method="post" class="post-form">
    {% csrf_token %}
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-white bg-xing">
                <strong>{{ title }}</strong>
                {% if user.is_authenticated %}
                <span class="float-right">
                    <a class="ml-3" href="{% url list_url_name %}">
                        <i class="fa fa-list fa-lg text-white"></i>
                    </a>
                </span>
                {% endif %}
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' with form=form %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</form>
