<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card text-white bg-xing">
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <h1 style="text-align: center;">Welcome to Scrumate</h1>
        </div>
      </div>
    </div>
    </div>
</div>

<div class="animated fadeIn pt-2">
    <div class="row">

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-list fa-lg"></i> Pending
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered">
                        <thead></thead>
                        <tbody>
                            {% for pend in context.pending %}
                                <tr>
                                    <td>{{ pend.name }} - {{ pend.estimated_hour }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-list fa-lg"></i> In-Progress
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered">
                        <thead></thead>
                        <tbody>
                            {% for inp in context.in_progress %}
                                <tr>
                                    <td>{{ inp.name }} - {{ inp.estimated_hour }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-list fa-lg"></i> Done
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered">
                        <thead></thead>
                        <tbody>
                            {% for done_task in context.done %}
                                <tr>
                                    <td>{{ done_task.name }} - {{ done_task.estimated_hour }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
