{% extends 'general/index_settings.html' %}

{% block content %}

<form method="post" class="post-form">
    {% csrf_token %}
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Password Reset</strong>
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' with form=form %}
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</form>

{% endblock %}
