{% extends 'general/index_project_view.html' %}

{% block content %}
<form method="get">
    {{ filter.form.as_table }}
    <button class="btn btn-outline-dark active" type="submit">Search</button>
</form>

<div class="animated fadeIn pt-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-white bg-xing">
                    <i class="fa fa-list fa-lg"></i> Issue List
                    {% if user.is_authenticated %}
                    <a class="float-right" href="{% url 'issue_add' project_id=project.id %}">
                        <i class="fa fa-plus-square-o fa-lg font-2xl text-white"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered">
                        <thead>
                        <tr>
                            <th>S/L</th>
                            <th>Name</th>
                            <th>Project</th>
                            <th>User Story</th>
                            <th>Raise Date</th>
                            <th>Raised By</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for iss in issues %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ iss.name }}</td>
                                    <td>{{ iss.project.name }}</td>
                                    <td>{{ iss.user_story.summary }}</td>
                                    <td>{{ iss.raise_date }}</td>
                                    <td>{{ iss.raised_by.full_name }}</td>
                                    <td>{{ iss.description }}</td>
                                    <td>
                                        {% if perms.core.update_issue_status %}
                                            <a href="{% url 'update_issue_status' project_id=project.id pk=iss.id %}">{{ iss.get_status_display }}</a>
                                        {% else %}
                                            {{ iss.get_status_display }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="float-right ml-1" href="{% url 'issue_history' project_id=project.id pk=iss.id %}">
                                        <i class="fa fa-history fa-lg"></i></a>

                                        <a class="float-right mr-1" href="{% url 'issue_edit' project_id=project.id pk=iss.id %}">
                                        <i class="fa fa-edit fa-lg"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if issues.has_other_pages %}
                        <ul class="pagination">
                            {% if issues.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ issues.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                            {% endif %}
                            {% for i in issues.paginator.page_range %}
                                {% if issues.number == i %}
                                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if issues.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ issues.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                            {% endif %}
                      </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

